@model AR_Shopping.EF.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="" method="post">
    <input type="text" name="UserName" class="form-control" placeholder="Username" />
    <input type="password" name="Password" class="form-control" placeholder="Password" />
    <input type="submit" class="btn btn-danger" value="Login" />
  

</form>